.blue-square{
    -fx-border-style: solid;
    -fx-background-color: #55c2dc;
    -fx-border-color: thick solid black;
}

.purple-square{
    -fx-border-style: solid;
    -fx-background-color: #db86e5;
    -fx-border-color: thick solid black;
}

.movable-square {
    -fx-border-width: 3;
    -fx-border-style: solid;
    -fx-border-color: #34a62b;
}
